<!-- views/partials/footer.ejs -->

<footer class="footer">
  <div class="container">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="/">
            About Us
          </a>
        </li>
        <li>
          <a href="/">
            Tech Stack
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy; 2017, made by Mitchell Patin
    </div>
  </div>
</footer>
