<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header">
      <a class="logo" href="/"><img src="img/whosn-logo-white.png" alt="WhosN Logo" height="50"></a>
    </div>

    <div class="collapse navbar-collapse" id="navigation-example">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/events">Events</a>
        </li>
        <li>
          <a href="https://twitter.com/" target="_blank" class="btn btn-simple btn-white btn-just-icon">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/" target="_blank" class="btn btn-simple btn-white btn-just-icon">
            <i class="fa fa-facebook-square"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/" target="_blank" class="btn btn-simple btn-white btn-just-icon">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
